ul{
    list-style-type: none;
    line-height: 150px;
    font-weight: 700;
    font-size: 20px;
}
.color122{
    color: #122;
}
.color267{
    color: #267;

}
.color333{
    color: #333;
}
.color789{
    color:#789 ;
}
.color256{
    color: #256;
}